<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpIRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpIRC.Properties.Settings>
            <setting name="lastserver" serializeAs="String">
                <value>default server</value>
            </setting>
            <setting name="lastport" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="lastnick" serializeAs="String">
                <value>PrimaryNickname</value>
            </setting>
            <setting name="lastchannel" serializeAs="String">
                <value>#lobby</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastaltnick" serializeAs="String">
                <value>AlternativeNickname</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="shake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
        </SharpIRC.Properties.Settings>
    </userSettings>
</configuration>